<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sample</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  </head>
  <body>
    <div id="app">
      <header class="mdl-layout__header">
      <!-- <header class="mdl-layout__header mdl-layout__header--waterfall"> -->
        <h1>Search</h1>
        <a v-bind:href="url + station">{{ url }}{{ station }}</a>
      </header>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col">
          <div v-if="hasFacets">
            <div v-for="(count, station) in facets">
              <div>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" v-on:click="getFacets(station, $event)">{{ station }}({{ count }})</a>
              </div>
            </div>
          </div>
          <div v-else>
            no data..
          </div>
        </div>
        <div class="mdl-cell mdl-cell--10-col">
          <div v-if="hasResponse">
            <div v-for="(k, c) in response">
              <span class="mdl-chip mdl-chip--contact">
                <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">{{ k.s_station_name }}</span>
                <span class="mdl-chip__text">{{ k.s_restaurant_name }}</span>
              </span>
              <!-- <div class="mdl-card"> -->
              <!--   <div class="mdl-card__title"> -->
              <!--     {{ k.s_station_name }} -->
              <!--   </div> -->
              <!--   <div class="mdl-card__supporting-text"> -->
              <!--     {{ k.s_restaurant_name }} -->
              <!--   </div> -->
              <!-- </div> -->
            </div>
          </div>
          <div v-else>
            no data..
          </div>
        </div>
      </div>

    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
